/*******************************
All Responsive Code
*******************************/

@media only screen and (min-width:320px) and (max-width:1500px) {
	#signup-footer{
		display: none;
	}
	.art .slick-next, .art .slick-prev {
    position: absolute;
    top: -180px;
    display: block;
}
}
@media only screen and (min-width:1199px) and (max-width:1300px) {

	.headerMenu ul li a {
		font-size: 1.6rem;
		padding: 10px 10px !important;
	}
}
@media only screen and (min-width:992px) and (max-width:1299px) {
		option {
		font-size: 1.5rem;
	}
	
}
@media only screen and (max-width:1199px)  {
	select.goog-te-combo {
		margin: 14px;
	}
	.portfolio-menu button {
		font-size: 15px;
	}
	.headerMenu ul li ul li a {
		padding: 3px 3px !important;
		font-size: 1.5rem;
	}
	.headerMenu{
		text-align: center;
	}
	.headerMenu ul li ul {
		padding: 0;
		margin:0;
		left: 43%;
	}
	.testimonials-carousel .owl-nav img {
		width: 30px;
		background: #fff;
	}
	footer .slick-slide img {
		max-width: 90%;
		height: 38px;
	}
	.headerMenu ul li ul li {
		width: 150px;
	}
	.training-banner {
		height: 45vh;
	}


}

@media only screen and (min-width:768px) and (max-width:991px) {
	button.btn.england {
		width: 90px;
		position: absolute;
		height: 100px;
		opacity: 0;
		top: -14px;
		left: 38%;
		z-index: 1;
	}
	button.btn.bangla  {
		width: 90px;
		position: absolute;
		height: 100px;
		opacity: 0;
		top: 51px;
		left: 66%;
		z-index: 1;
	}
	.designtl {
    margin-right: 22px;
    margin-left: 18px;
}
.sametimelinemiddle p {
    margin: 0;
    background: white;
    width: 100%;
    padding: 7px 6px;
}

}
@media only screen and (max-width:991px)  {
	html{
		font-size: 52.5%;
	}
	.sitenav {
		display: none;
	}
	.headerLogo img {
		max-width: 55%;
	}
	.headerLogo form input {
		width: 70%;
	}
	i.fas.fa-bars {
    font-size: 2rem;
	}
	.icon-bar {
		display: none;
	}
	option {
		font-size: 1.2rem;
	}
	.project-work {
		margin: 0 10px;
	}
	
	.bar1, .bar2, .bar3 {
		margin: -10px 0;
	}
	.event-carousel .project-content h6:after {
		top: 26px;
	}
	.event-carousel .project-content h6 {
		font-size: 2rem;
	}
	.section-heading h2 {
		font-size: 3rem;
	}
	.headerMenu button.btn {
		margin: 0px 0px;
	}
	.headerMenu ul li {;
		margin:5px 0px;
	}
	.portfolio-menu button {
		font-size: 15px;
		padding: 10px 8px;
		margin: 8px 4px;
		font-weight: 500;
	}
	.footer-address.m-10 {
		margin: 15px 0px;
	}
	.slider-nav {
		margin-left: 20px;
	}
	.headerMenu ul li ul li {
		width: 130px;
	}
	.headerMenu ul li ul {
    left: 42%;
	}
	.otherart {
    width: 100%;
    position: absolute;
    padding: 10px 30px;
    left: 0;
    top: 8px;
    z-index: 1;
}
.select-group select{
  background: #089DF3;
  border-radius: 5px;
  color: #fff;
  margin: 10px 12px;

}

}

@media only screen and (max-width:767px)  {
	html{
		font-size: 50.5%;
	}
	h1{
		font-size:3rem;
	}
	#header {
		padding: 10px 0px !important;
	}
	.headerMenu ul li ul {
   	 left: 40%;
	}
	.slider-img{
		height:50vh;
	}
	.section-padding{
		padding: 30px 0px;
	}
	.about-carousel .owl-next {
		right: -70px;
	}
	.about-carousel .owl-prev {
		left: -70px;
	}
	.map .bd, .map .uk {
		max-width: 80px;
	}
	.map .uk {
		left: 5%;
		top: 6%;
	}
	.map .bd {
		top: 40%;
		right: 7%;
	}
	h6{
		font-size: 1.7rem;
	}
	p{
		font-size: 1.6rem;
	}
	.mission {
		min-height: 175px;
	}
	.team-menu button {
		font-size: 16px;
		padding: 10px 10px;
	}
	.event-carousel .owl-prev {
		left: -60px;
	}
	.event-carousel .owl-next {
		right: -60px;
	}
	.project-work ul li p {
		font-size: 1.5rem;
	}

	.testimonials-carousel .owl-nav img {
		width: 30px;
	}
	.footer-logo img {
		max-width: 50%;
	}
	.footer-carousel .item img {
		max-width: 90%;
		max-height: 60px;
		margin-left: 6px;
	}
	.footer-nav {
		margin-top:10px;
	}
	.footer-carousel .owl-prev {
		left: -13px;
	}
	.footer-carousel .owl-next {
		right: -13px;
	}
	.footer-carousel .owl-nav i {
		font-size: 2.5rem;
		color: #fff;
	}
	.m-10{
		margin: 10px 0px;
	}
	.goTop {
		
		right: 9px;
	}
	footer .slick-next {
		right: -15px;
	}

	#team button {
		font-size: 14px;
		padding: 4px 10px;
	}

	.profile {
		display:block;
	}
	.all-carousel .owl-nav button {
		position: relative;
		top: 21%;
	}
	.all-carousel .owl-prev {
		left:0px;
	}
	.all-carousel .owl-next {
		right:0px;
	}
	.all-carousel .owl-nav img {
		width: 30px;
	}
	.trainings-carousel .owl-nav button {
		position: relative;
		top: 21%;
	}
	.trainings-carousel .owl-prev {
		left:0px;
	}
	.trainings-carousel .owl-next {
		right:0px;
	}
	.trainings-carousel .owl-nav img {
		width: 30px;
	}
		.map p {
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 1.8rem;
    text-align: center;
    left: 0;
    color: #000;
}
	button.btn.england{
		width: 49px;
		position: absolute;
		height: 75px;
		opacity: 0;
		top: -13px;
		left: 38%;
		z-index: 1;
	}
	button.btn.bangla{
		width: 49px;
		position: absolute;
		height: 75px;
		opacity: 0;
		top: 36px;
        right: 80px;
		z-index: 1;
	}





	 
	.art .slick-next, .art .slick-prev {
    position: absolute;
    top: -180px;
    display: none !important;
}
.designtl {
    margin-right:8px;
    margin-left: 8px;
}

.sametimelinemiddle p {
 
    padding: 7px 2px;
}
.developmenttl {
    margin-right: 21px;
}
.sametimelinemiddle.designtl {
    display: none;
}


.bg-white::after{

	content: "";
  display: none;
}
#room {
    perspective: 30vw;
    height: 60vh;

}
.arts-carousel.owl-carousel.owl-theme .owl-nav img{
    max-width: 55%;
}
.board img {
    max-width: 25%;
 }
 .board h3 {
    position: absolute;
    left: 38%;
    top: 44%;
    z-index: 111;
    font-size: 1.7rem;
}

.otherart {
    width: 100%;
    position: absolute;
    padding: 10px 30px;
    left: 0px;
    top: 20px;
}



/*Training*/
.btn-absulate {
    position: absolute;
    bottom: -35px;
    left: 17%;
}


.training-banner {
    height: 40vh;
}

.trainings-item img{
	width: 100%;
}

.job-carousel .owl-nav button {
    position: relative;
    left: 0px;
    right: 0;
    margin: 10px 10px!important;
}






.sm-space{
	text-align: center;
	margin-bottom: 20px;
}

.about-course-heading {
    color: #343434;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.review p {
    padding-top: 10px;
}

.covid-details img{
   max-width: 100% !important;
}
#training-group .men-img img {
    margin-top: 20px;
    max-width: 100%;
}
#group button, #group select {
   padding: 8px 10px;
   margin: 10px 5px;
}
.covid-details {

    justify-content: space-evenly;
 
}
.search-key input, .search-key select, .search-key textarea {
    padding: 5px 8px;
    margin: 10px 10px;
}
.ui-group h3 {
    margin-bottom: 10px;
}
.health {
    padding: 10px 15px;
}

.select-group select{
  background: #089DF3;
  border-radius: 5px;
  color: #fff;
  margin: 10px 12px;

}
}



@media only screen and (max-width: 500px) {
	h4 {
		font-size: 2rem;	
	}	
	.headerMenu ul li ul {
    left:33%;
	}
  
	button.btn.england{
		width: 49px;
		position: absolute;
		height: 60px;
		opacity: 0;
		top: -14px;
		left: 38%;
		z-index: 1;
	}
	button.btn.bangla{
		width: 49px;
		position: absolute;
		height: 60px;
		opacity: 0;
		top: 17px;
        left: 64%;
		z-index: 1;
	}
	.art-description1{
		display: block;
	}
	.art-description1 h4 {
    font-size: 2rem;
	margin: 10px 0px;
	}
	.art-round img{

		padding: 20px 0px;
	}
		.designtl {
    margin-right: 22px;
    margin-left: 18px;
}

/*Training*/

.banner-contents h3 {
    font-size: 3rem;
}


}
@media only screen and (max-width: 400px) {
.otherart {
    width: 98%;
    position: absolute;
    padding: 10px 30px;
    left: 3px;
    top: 15px;
    z-index: 1;
}
.arts-carousel.owl-carousel .owl-item img {
    display: inline-block;
    max-width: 100%;
    width: 78%!important;
}



}